@using Al_Baraka.Models;
@model Product

<h2>@Model.Name</h2>
@{
    var base64 = Convert.ToBase64String(Model.Image);
    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
}
<img src="@imgSrc" alt="" width="50%" />

Країна виробник: @Model.Country
<br />
@Model.Description
<p>Ціна: @Model.Price грн. за 
    @switch (Model.Measure)
    {
        case measure.kg:
            <text>кг.</text>
            break;
        case measure.gramm:
            <text>гр.</text>
            break;
        case measure.liter:
            <text>літр</text>
            break;
        case measure.mililiter:
            <text>мл.</text>
            break;
        case measure.сanister:
            <text>каністру</text>
            break;
        case measure.box:
            <text>коробку</text>
            break;
        case measure.bottle:
            <text>пляшку</text>
            break;
        case measure.packet:
            <text>пачку</text>
            break;
        case measure.piece:
            <text>шт.</text>
            break;
        case measure.bag:
            <text>мішок</text>
            break;
        default:
            break;
    }
    </p>

